{% extends "base.html" %}

{% block page_header %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title }}</h1>

    <a href="{{ url_for('admin.list_locations') }}" class="btn btn-outline-danger me-2">
        <i class="bi bi-x-lg me-1"></i> Back
    </a>
</div>
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control") }}
                        {% for error in form.name.errors %}<div class="invalid-feedback d-block">{{ error }}</div>{% endfor %}
                    </div>

                    <div class="mb-3">
                        {{ form.facility.label(class="form-label") }}
                        {{ form.facility(class="form-select") }}
                        {% for error in form.facility.errors %}<div class="invalid-feedback d-block">{{ error }}</div>{% endfor %}
                    </div>

                    <div class="d-grid mt-4">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}